html::-webkit-scrollbar {
  width: 0.3em;
  background: #0f1018;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.3em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: rotate(0deg);
}

.App-header:hover .App-logo{
    box-shadow: 1px 1px 0 0 white;
    
    transform: rotate(720deg);
    animation-play-state: running;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 3s linear 1s;*/
    animation-play-state: paused;
  }
  
  
}

.App-header {
  background-color: #0f1011;
  min-height: calc(100vh - 51px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
