.gameselect {
    top: 0;
    left: 0;
    min-height: calc(100vh - 51px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gs_panel {
    min-width: calc(100vw/3);
    min-height: calc(100vh - 51px);
    display: flex;
    justify-content: center;
    align-items: center;
    /*filter: blur(10px);*/
}

.gs_panel > * { /* child selector > * all children */
    font-size: 10vh;
    padding: 15px;
}

.gs_panel > div {
    font-size: 4vh;
}

.gs_panel:hover {
    cursor: pointer;
}

.gs_panel:hover > * {
    font-size: 13vh;
}

.gs_panel:hover > div {
    font-size: 5vh;
}

.gs_panel:active {
    
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }

.gs_panel_background::after {
    content: "";
    position: absolute;
    overflow: hidden;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 0;background: inherit;
    min-width: 100px;
    min-height: 100px;
    -webkit-filter: blur(20px);
    filter: blur(10px);
    overflow: hidden;
}