.gs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(https://i.redd.it/w8ws8kf51gs41.png);
}

.game-select {
    top: 0;
    left: 0;
    min-height: calc(100vh - 51px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-select-panel {
    min-width: calc(100vw/3);
    max-width: calc(100vw/3);
    min-height: calc(100vh - 51px);
    max-height: calc(100vh - 51px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.01);
}

.game-select-panel > * { /* child selector > * all children */
    font-size: 10vh;
    padding: 15px;
    transition: font-size 0.4s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow:1px 1px 1px rgba(0,0,0,0.004);
}

.game-select-panel > div {
    font-size: 4vh;
}

.game-select-panel:hover {
    cursor: pointer;
    text-shadow: 0 0 8px white;
}

.game-select-panel:hover > * {
    font-size: 13vh;
}

.game-select-panel:hover > div {
    font-size: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
    .game-select-panel {
        transition: min-width 0.3s;
    }

    @media (min-width: 1000px) {
        .game-select-panel:hover {
            min-width: 40vw;
        }
    }
  }

@media (max-width: 1000px) {
    .game-select {
        flex-direction: column;
    }

    .game-select-panel {
        min-height: calc((100vh - 51px)/3);
        min-width: 100vw;
    }
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }