@import url(https://fonts.googleapis.com/css?family=Megrim);

.main-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	font-size: 11vh;
	font-family: Megrim;
	color: white;
	text-shadow: 0 0 4px white,
				0 0 10px white,
				0 0 18px white,
				0 0 38px #ff0000,
				0 0 73px #ff0000,
				0 0 90px #ff0000;
}

.home-wrapper {
	height: 88vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: calc(12vh - 51px);
}
.projects-wrapper {
	height: 80vh;
}

.about-wrapper {
	height: 80vh;
}

.window {
	
}

.content-row {
}

.content-left {

}

.content-right {

}

@keyframes flicker {
	0%, 3%, 33%, 36%, 75%, 78%, 84%, 100% {
		color: white;
		text-shadow: 0 0 4px white,
					0 0 10px white,
					0 0 18px white,
					0 0 38px #ff0000,
					0 0 73px #ff0000,
					0 0 90px #ff0000;
	}

	 1%, 34%, 76%, 85%, 99% {
		 color:rgba(255, 255, 255, 0.03);
		 text-shadow: none;
	 }
}

@keyframes rainbow {
	0%, 100% {
		text-shadow: 0 0 4px white,
					0 0 10px white,
					0 0 18px white,
					0 0 38px #ff0000,
					0 0 73px #ff0000,
					0 0 90px #ff0000;
	}

	50% {
		text-shadow: 0 0 4px white,
					0 0 10px white,
					0 0 18px white,
					0 0 38px #4e4eec,
					0 0 73px #4e4eec,
					0 0 90px #4e4eec;
	}
}

@keyframes scroll {
	from {scroll-margin-top: 0;}
	to {scroll-margin-top: 100vh;}
}

@media (prefers-reduced-motion: no-preference) {
	.flicker1 {
		animation: flicker 5s infinite linear;
	}

	.header {
		animation: rainbow 100s infinite linear;
	}

	.main-container {
		animation: scroll 3s 5s linear forwards;
	}
}

/*
position: relative;
margin: 5vh 0 10vh;
left: calc((7.5vw - 17px)/2);
width: 92.5vw;
min-height: 97vh;
border-radius: 20px;
box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.05);
backdrop-filter: blur(8px);
*/