.nav-container {

}

.nav-scene::before {
    content: '';
    position: fixed;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(https://i.redd.it/w8ws8kf51gs41.png);
    z-index: -1;
}

.nav-scene {
    position: relative;
    overflow: hidden;
	top: 51px;
    left: 0;
    min-height: calc(100vh - 51px);
	background-color: #0f1011;
	font-size: 13px;
    color: white;
    animation: load-in-scene 1s 1s linear forwards;
}

.nav-panel {
	position: fixed;
	z-index: 2020;
	top: 0px;
	left: 0px;
	overflow: hidden;
	max-height: 45px;
	width: 100%;
	background-color: #1f1f23;
	margin: 0;
    padding: 3px 0px;
    backdrop-filter: blur(15px);
    animation: load-in-panel 1s 1s linear forwards;
}

.nav-icon {
	flex-direction: column;
  	align-items: center;
	justify-content: center;
}

.nav-button {
	background-color: #1f1f2300;
	color: white;
	border-radius: 0px;
	border: 1px;
	outline: none;
	text-align: center;
	padding: 15px 20px;
	cursor: pointer;
	float: left;
	font-family: monospace;
	font-size: 13px;
	transition: transform 0.2s, box-shadow 0.2s;
}

.nav-button.tr {
    float: right;
}

.nav-button:hover {
	background-color: #ffffff0c;
	color: #ccccff;
	transform: translateY(-2px) translateX(2px);
	box-shadow: -2px 2px 3px #ccccff;
	text-shadow: 0px 0px 5px #ccccff;
}

.nav-button:active {
	color: #ccccff;
	transform: translateY(0px) translateX(0px);
	transition: transform 0.1s, box-shadow 0.1s;
	box-shadow: 0 0;
	text-shadow: 0 0 4px #ccccff;
}

.nav-back {
    position: fixed;
    top: calc(100vh - 23px*3);
    left: 1vw;
    padding: 20px 40px;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
}

.nav-back span {
    position: relative;
    display: inline-block;  
}

.nav-back span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;  
}

.nav-back:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #ffffff;
}

.nav-back:hover span {
    padding-left: 15px;
}

.nav-back:hover span:before {
    opacity: 1;
    left: 0;
}

@keyframes panning-background {
    0% {background-position: 0% 0%;}
    25% {background-position: 100% 0%;}
    50% {background-position: 100% 100%;}
    75% {background-position: 0% 100%;}
    100% {background-position: 0% 0%;}
}

@keyframes load-in-scene {
    from {background-color: #0f1011;}
    to {background-color: #0f101100;}
}

@keyframes load-in-panel {
    from {background-color: #1f1f23;}
    to {background-color: #1f1f236e;}
}

@media (prefers-reduced-motion: no-preference) {
    .nav-scene::before {
        animation: panning-background 1000s infinite linear;
    }

    .nav-back {
        transition: all 0.5s;
    }

    .nav-back span {
        transition: 0.5s;
    }

    .nav-back span:before {
        transition: 0.5s;
    }
}

.center_block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
