.projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.project-element {
    position: relative;
    transition: top 2s;
	width: 1700px;
	height: 350px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.03);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
	backdrop-filter: blur(8px);
}

.project-img {
	margin: 0 50px;
	min-width: 400px;
}

.project-img > img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.project-divider {
	height: 310px;
	min-width: 2px;
	filter: drop-shadow(0 0 3px rgb(255, 255, 255))
			drop-shadow(0 0 10px rgb(0, 255, 255));
	background-color: white;
	border-radius: 1px;
}

.project-info {
    margin: 0 50px;
}

.project-info > div {
    width: 1098px;
    text-align: left;
}

.project-info h3 {
	font-size: 75px;
	margin: 0;
}

.project-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.5px;
    margin: 0;
}

.description {
    min-height: 112.5px;
}

.languages {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 11px;
}

.links {
    position: relative;
    height: 100px;
}

.links > a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-size: 50px;
    padding: 0 10px 4px 10px;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.links > a:hover > * {
    font-size: 70px;
}

.links > .cpp span {
    position: relative;
    top: -10px;
    font-size: 30px;
    margin: 0;
}

.links > .assembly::before {
    content: 'ASM';
    white-space: pre;
    position: absolute;
    top: 23px;
    left: 18px;
    color: #0e101b;
    font-size: 20px;
    font-weight: 300;
    transform: rotate(90deg);
}

.links > .cpp::after {
    content: '++';
    
}

@media(prefers-reduced-motion: no-preference) {
    .links > a > * {
        transition: font-size 0.2s linear;
    }

    .links > .js:hover > * {
        
    }

    .links > .html {
        
    }

    .links > .css {
        
    }

    .links > .react > * {
        transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1), font-size 0.2s linear;
    }

    .links > .react:hover > * {
        transform: rotate(720deg);
        /*animation: react-animation 1.5s infinite linear 0.9s;*/
        color: #00f7ffa8; /*#61dafb98;*/
    }

    .links > .java {
        
    }

    .links > .sql {
        
    }

    .links > .cpp {
        
    }

    .links > .assembly {
        
    }

    .links > .linux {
        
    }

    .links > .pi {
        
    }
}

@keyframes react-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1700px) {
    .projects-list {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .project-element {
        flex-direction: column;
        width: 500px;
        margin: 50px;
        padding: 25px 0 0 0;
        height: unset;
    }

    .project-img {
        position: relative;
        top: 65px;
        height: 300px;
        margin: 50px;
    }

    .project-img > img {
        height: 375px;
    }

    .project-divider {
        display: none;
    }

    .project-info {
        margin: 0 50px 19px 50px;
        align-items: center;
    }
    
    .project-info > div {
        width: 400px;
    }
    
    .project-info h3 {
        font-size: 40px;
        text-align: center;
        margin: 0 0 9px 0;
    }

    .project-info p {
        font-size: 20px;
    }

    .title {
        position: relative;
        top: -388px
    }
}