.ttt_game {
 	 display: flex;
 	 flex-direction: column;
 	 align-items: center;
 	 justify-content: center;
}

.ttt_board {
	background-color: #0f1011;
	width: 60vmin;
	height: 60vmin;
}

.ttt_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ttt_board_cell {
	border: 0px;
	border-radius: 2px;
	background-color: #1b1b1f;
	width: 20vmin;
	height: 20vmin;
	outline: #0f1011 solid 2px;
	padding: 15px 20px;
	float: left;
	cursor: pointer;
	text-align: center;
	font-family: monospace;
	font-size: 14vmin;
}

.ttt_board_cell:hover {
	background-color: #1f1f23;
}

.ttt_board_cell:active {
	color: white;
}