.ttt-game {
	min-height: calc(100vh - 51px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.ttt-board {
	background-color: #0f1011;
	width: 60vmin;
	height: 60vmin;
}

.ttt-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ttt-board-cell {
	border: 0px;
	border-radius: 2px;
	background-color: #1b1b1f;
	width: 20vmin;
	height: 20vmin;
	outline: #0f1011 solid 2px;
	float: left;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	font-family: monospace;
	font-size: 15vmin;
}

.ttt-board-cell:hover {
	background-color: #1f1f23;
}

.ttt-board-cell:active {
	color: white;
}

.ttt-undo {
	background-color: #0f1011;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	min-height: 28px;
	color:rgb(255, 255, 255);
}

.ttt-undo-symbol {
	padding: 0px 7.5px;
}

*.font {
	font-family: monospace;
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }