.ttt-game {
	min-height: calc(100vh - 51px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.ttt-board {
	background-color: #0f101100;
	width: 60vmin;
	height: 60vmin;
}

.ttt-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ttt-board-cell {
	border: 0px;
	border-radius: 2px;
	background-color: #0f10113a;
	width: 20vmin;
	height: 20vmin;
	outline: #030512 solid 2px;
	float: left;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	font-family: monospace;
	font-size: 15vmin;
	box-shadow: inset 0 0 4px;
}

.ttt-board-cell:hover {
	background-color: #0f101167;
	box-shadow: 0 0 0;
	outline: 0;
	text-shadow: 0 0 5px white;
	z-index: 1;
}

.ttt-board-cell:active {
	color: white;
}

.ttt-undo {
	background-color: #0f1011;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	min-height: 28px;
	color:rgb(255, 255, 255);
}

.ttt-undo-symbol {
	padding: 0px 0px 0px 7.5px;
}

@media (prefers-reduced-motion: no-preference) {
	.ttt-board-cell {
		transition: background-color 0.2s;
	}
}

*.font {
	font-family: monospace;
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }